{% extends 'base.html.twig' %}

{% block content %}

<main role="main-inner-wrapper" class="container">
	<div class="row">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="text-right">Bonjour {{ userInfo.pseudo }} | <a href="/logout">Déconnexion</a></div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Modification d'un post</li>
			</ol>
		</div>
		<!-- /.container-fluid-->
	</div>

	<div class="flash">
		{% include 'flash.twig' %}
	</div>

	<div id="Posts" class="row">
        <div class="contat-from-wrapper">
            <form method="post" action="/admin/post{% if id %}-{{ id }}{% endif %}.html" name="adminPost" id="adminPost" enctype="multipart/form-data">
				<div class="row col-xs-12">
                    <div class="col-xs-12 col-sm-6 col-md-3">
						<label for="creationDate">Date de création :</label>
                    	<input type="date" name="creationDate" value="{{ creationDate }}" disabled>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<label for="modificationDate">Date de modification :</label>
                    	<input type="date" name="modificationDate" value="{{ modificationDate }}" disabled>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<label for="creationDate">écrit par :</label>
                        {{ author }}
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<label for="status">Status de la publiquation :</label><br />
						<select name="status" id="status">
							<option value="Publish" {% if status == "Publish" %}selected{% endif %}>Publié</option>
							<option value="Pending" {% if status == "Pending" %}selected{% endif %}>En attente</option>
						</select>
					</div>
                </div>
                <div class="space"></div>

				<div class="row">
                    <div class="col-xs-12">
						<label for="title">Le titre :</label><br />
                        <input  name="title" id="title" type="text"  placeholder="Titre du post" value="{{ title }}" required>
                    </div>
                </div>
                <div class="space"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <textarea  name="post" id="post" placeholder="Votre texte ici..." >{{ post|raw|nl2br }}</textarea>
                    </div>
                </div>
                <div class="space"></div>

				<div class="row">
                    <div class="col-xs-12">
                        <input type="file" name="upload" id="upload" />
                    </div>
                </div>
                <div class="space"></div>

				<input type="hidden" name="token" value="{{ token }}">
                <input name="" type="submit" value="Enregistrer">
                <div id="simple-msg"></div>
            </form>
        </div>
		<div class="clearfix"></div>
	</div>
</main
{% endblock %}
