{% extends 'base.html.twig' %}

{% block content %}

<main role="main-inner-wrapper" class="container">
	<div class="row">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="text-right"><a href="/logout">Déconnexion</a></div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Modification d'un post</li>
			</ol>
		</div>
		<!-- /.container-fluid-->
	</div>
	<div class="space"></div>
	<div id="Posts" class="row">

        <div class="thumbnails-pan">
            <div class="contat-from-wrapper">
                <div id="message" class="row col-md-offset-3 col-md-6 col-lg-6 col-sm-6 col-xs-12">
					{% if errorRegistration %}<div class="error_message">{{ errorRegistration }}</div>{% endif %}
                    {% if errorEmail %}<div class="error_message">{{ errorEmail }}</div>{% endif %}
                    {% if errorPassword %}<div class="error_message">{{ errorPassword }}</div>{% endif %}
                    {% if errorLogin %}<div class="error_message">{{ errorLogin }}</div>{% endif %}
                </div>
                <form method="post" action="/registration" name="cform" id="cform">
                    <div class="row col-md-offset-3 col-md-6 col-lg-6 col-sm-6 col-xs-12">
						<div class="row">
							{% if creationDate %}
                            <div class="col-xs-12 col-sm-3">
                                Date de création : le {{ creationDate }}
                            </div>
							{% endif %}
							{% if modificationDate %}
							<div class="col-xs-12 col-sm-3">
                                Date de modification : le {{ modificationDate }}
                            </div>
							{% endif %}
							{% if author %}
							<div class="col-xs-12 col-sm-3">
                                Date de modification : le {{ modificationDate }}
                            </div>
							{% endif %}
                        </div>
                        <div class="space"></div>
						<div class="row">
                            <div class="col-xs-12">
                                <input  name="title" id="title" type="text"  placeholder="Titre du post" value="{{ author }}" required>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input  name="content" id="content" type="textarea"  placeholder="Votre texte..." value="{{ post }}" required>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
					<div class="clearfix"></div>
					<p>
						<label for="status">Status de la publiquation ?</label><br />
						<select name="status" id="status">
							<option value="Publish" {% if status=="Publish" %}selected{% endif %}>Publié</option>
							<option value="Pending" {% if status=="Pending" %}selected{% endif %}>En attente</option>
						</select>
					</p>
                    <div class="clearfix"></div>
                    <input name="" type="submit" value="Envoyer">
                    <div id="simple-msg"></div>
                </form>
            </div>
        </div>

		
		<div class="clearfix"></div>
	</div>
</main
{% endblock %}
