<!-- Comments -->
<div class="flash">
    {% include 'flash.twig' %}
</div>

<div class="comments-pan">
    <h3>{{ numberOfComments }}</h3>
    {% if comments %}
        <ul class="comments-reply">
            {% for comment in comments %}
                <li>
                    <section>
                        <h4>{{ comment.author }}</h4>
                        <div class="date-pan">{{ comment.day }} {{ comment.monthYear }}</div>
                        {{ comment.comment|raw|nl2br }}
                    </section>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="commentys-form" id="commentys">
        {% if isAuthenticated != 'true' %}
            <a href="/login">Vous devez être authentifié pour laisser un commentaire !</a>
        {% else %}
            <div class="row">
                <div class="flash">
                    {% include 'flash.twig' %}
                </div>
                <form action="/blog/post-{{ post_id }}.html#commentys" method="post">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <label for="comment">
                            <h4>{{ pseudo }}, laissez nous un commentaire</h4>
                        </label>
                        <textarea id="comment" name="comment" placeholder="Qu'avez vous en tête..."></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        {% endif %}
    </div>
</div>
