{% extends 'base.html.twig' %}

{% block content %}

<main role="main-inner-wrapper" class="container">
	<div class="row">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="text-right"><a href="/logout">Déconnexion</a></div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">My Dashboard</li>
			</ol>
			<!-- Icon Cards-->
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<div>{{ numberOfPosts }} Articles.</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<div class="col-sm-6">{{ numberOfUsers }} Utilisateurs.</div>
							<div class="text-right col-sm-6"><a href="/admin/users.html" class="text-white">Détails</a></div>
						</div>
					</div>
				</div>
			 </div>
		</div>
		<!-- /.container-fluid-->
	</div>
	<div class="space"></div>
	<div class="row">
		<section class="col-xs-12">
			<table class="table table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Titre</th>
						<th>Dernière modification</th>
						<th>Editer</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
				{% for Post in listPosts %}
					<tr>
						<th scope="row">{{ Post.title }}</th>
						<td>{{ Post.date }}</td>
						<td><a href="/admin/post-{{ Post.id }}.html" class="btn btn-primary">Editer</a></td>
						<td><a href="/admin/post-{{ Post.id }}.html" class="btn btn-danger">Supprimer</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="clearfix"></div>
	</div>
</main
{% endblock %}
