{% extends 'base.html.twig' %}

{% block content %}

<main role="main-inner-wrapper" class="container">
	<div class="row">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="text-right">Bonjour {{ userInfo.pseudo }} | <a href="/logout">Déconnexion</a></div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Liste des utilisateurs.</li>
			</ol>
		</div>
		<!-- /.container-fluid-->
	</div>
	
	<div id="message">
		{% include 'flash.twig' %}
	</div>

	<h1>Les utilisateurs :</h1>
    {% if deleteUser %}
    <div class="alert alert-danger">
        <strong>Danger!</strong> Voulez-vous vraiment supprimer cet utilisateur ?
        <form method="post" action="/admin/delete-user-{{ deleteUser }}.html" name="deleteUser" id="deleteUser">
            <input name="id" type="hidden" value="{{ deleteUser }}">
            <input class="btn btn-danger" name="Yes" type="submit" value="Oui">
            <input class="btn btn-default" name="No" type="submit" value="Non">
        </form>
    </div>
    {% endif %}
	<div id="User" class="row">
		<section class="col-xs-12">
			<table class="table table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Nom</th>
						<th>email</th>
						<th>Status</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
				{% for user in listUser %}
					<tr>
						<th scope="row">{{ user.pseudo }}</th>
						<td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
						<td>
                            {% if user.role != 'Administrator' %}
                            <a href="/admin/delete-user-{{ user.id }}.html" class="btn btn-danger">Supprimer</a>
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</section>
		<div class="clearfix"></div>
	</div>
</main>

{% endblock %}
