{% extends 'base.html.twig' %}

{% block content %}
        <!-- main -->
        <main role="main-inner-wrapper" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                    <article role="pge-title-content" class="blog-header">
                        <header>
                            <h2><span>Blog!</span> Mes dernières actualitées.</h2>
                        </header>
                    </article>
                    <ul class="grid-lod effect-2" id="grid">
                        {% for colLeft in left %}
                        <li>
                            <section class="blog-content">
                                <a href="/blog/post-{{ colLeft.postID }}.html">
                                    <figure>
                                        <div class="post-date">
                                            <span>{{ colLeft.day }}</span> {{ colLeft.monthYear }}
                                        </div>
                                        <img src="{{ app.request.server.get('SERVER_NAME') }}{{ colLeft.imgPath }}" alt="" class="img-responsive" />
                                    </figure>
                                </a>
                                <article>
                                    <h2>{{ colLeft.title|raw|nl2br }}</h2>
                                    <p>{{ colLeft.chapo|raw|nl2br }}...</p>
                                </article>
                            </section>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <ul class="grid-lod effect-2" id="grid">
                        {% for colRight in right %}
                        <li>
                            <section class="blog-content">
                                <a href="/blog/post-{{ colRight.postID }}.html">
                                    <figure>
                                        <div class="post-date">
                                            <span>{{ colRight.day }}</span> {{ colRight.monthYear }}
                                        </div>
                                        <img src="{{ app.request.server.get('SERVER_NAME') }}{{ colRight.imgPath }}" alt="" class="img-responsive" />
                                    </figure>
                                </a>
                                <article>
                                    <h2>{{ colRight.title|raw|nl2br }}</h2>
                                    <p>{{ colRight.chapo|raw|nl2br }}...</p>
                                </article>
                            </section>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
        <!-- main -->
{% endblock %}
